body{
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Times New Roman', Times, serif;
}
h1 {
    padding-top:1.7%;
    font-size:50px;
}
#cout {
    color: red;
}
#cout2 {
    color: red;
}
#cout3 {
    color: red;
}
#cout4 {
    color: red;
}
#cout5 {
    color: red;
}